* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.grytxt {
  font-size: 0.55em;
  color: rgb(184, 181, 181);
}

body {
  font-family: "Outfit", serif;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  display: flex;
  .left {
    padding-top: 20px;
    width: 20%;
    height: calc(100dvh - 9dvh);
    padding-left: 6px;
    gap: 15px;
    display: flex;
    flex-direction: column;

    .melo-btn {
      width: 20px;
      display: flex;
      gap: 5px;
      align-items: center;
      background-color: transparent;
      color: white;
      appearance: none;
      border: none;
    }
  }
  .right {
    width: 20%;
    height: calc(100dvh - 9dvh);
    background-color: red;
  }
  .middle {
    flex: 1;
    height: calc(100dvh - 9dvh);
    height: 1000px;
    background-color: rgb(60, 19, 194);
  }
}
.dp {
  width: 40px;
  height: 40px;
}
.navbar {
  display: flex;
  align-items: center;
  height: 9dvh;
  position: sticky;
  backdrop-filter: blur(80px);
  top: 0;
}
.input {
  width: 60%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: rgb(37, 37, 37);
  color: white;
  &::placeholder {
    color: rgb(123, 120, 120);
  }
}
.logo {
  padding-left: 10px;
  width: 20%;
}
.searchbar {
  flex: 1;
}
.profile {
  width: 20%;
}
.box {
  padding-right: 10px;
  display: flex;
  justify-content: end;
}
